In [1]:
import os
from datetime import datetime as dt
from scipy.stats import ks_2samp
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine # when use sqlmodel create_engine pandas gives error

In [2]:
def detect_drift(data1, data2):
    ks_result = ks_2samp(data1, data2)
    if ks_result.pvalue < 0.05:
        return "Drift exits"
    else:
        return "No drift"

In [3]:
load_dotenv()  # take environment variables from .env.
SQLALCHEMY_DATABASE_URL = os.getenv('SQLALCHEMY_DATABASE_URL')

engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

train_df = pd.read_sql("select * from trainconsumption", engine)

prediction_hourly_df = pd.read_sql(f"""select * from hourlyconsumption 
                                where prediction_time >
                                current_date - 7""", engine)

prediction_daily_df = pd.read_sql(f"""select * from dailyconsumption 
                                where prediction_time >
                                current_date - 7""", engine)

2023-06-20 10:32:05,298 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-06-20 10:32:05,301 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-20 10:32:05,305 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-06-20 10:32:05,309 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-20 10:32:05,313 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-06-20 10:32:05,316 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-20 10:32:05,323 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-06-20 10:32:05,324 INFO sqlalchemy.engine.Engine [generated in 0.00160s] {'table_schema': 'mlops', 'table_name': 'select * from trainconsumption'}
2023-06-20 10:32:05,331 INFO sqlalchemy.engine.Engine select * from trainconsumption
2023-06-20 10:32:05,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-20 10:32:05,551 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-06-20 10:32:05,555 INFO sqlalchemy.engine.Engine [cached since 0.2323s ago] {'table_schema': 'mlops', 'table_name': 'select * from hourlyconsumption \n                                where prediction_time >\n                                current_date - 7'}
2023-06-20 10:32:05,558 INFO sqlalchemy.engine.Engine select * from hourlyconsumption
                                where prediction_time >
                                current_date - 7
2023-06-20 10:32:05,561 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-20 10:32:05,572 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-06-20 10:32:05,575 INFO sqlalchemy.engine.Engine [cached since 0.2521s ago] {'table_schema': 'mlops', 'table_name': 'select * from dailyconsumption \n                                where prediction_time >\n                                current_date - 7'}
2023-06-20 10:32:05,579 INFO sqlalchemy.engine.Engine select * from dailyconsumption
                                where prediction_time >
                                current_date - 7
2023-06-20 10:32:05,582 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
prediction_daily_df.head()

   ID  YEAR  MONTH  DAY  CONSUMPTION     PREDICTION_TIME   CLIENT_IP
0   1  2020      6   20      870.238 2023-06-19 10:40:37  testclient
1   2  2020      6   21      881.952 2023-06-19 10:40:37  testclient
2   3  2020      6   22      874.676 2023-06-19 10:40:37  testclient
3   4  2020      6   23      857.951 2023-06-19 10:40:37  testclient
4   5  2020      6   24      883.313 2023-06-19 10:40:37  testclient

In [5]:
prediction_daily_df.columns

Index(['ID', 'YEAR', 'MONTH', 'DAY', 'CONSUMPTION', 'PREDICTION_TIME',
       'CLIENT_IP'],
      dtype='object')

In [9]:
prediction_hourly_df.columns

Index(['ID', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'CONSUMPTION', 'PREDICTION_TIME',
       'CLIENT_IP'],
      dtype='object')

In [12]:
dicty_hour= {}
for col in ["YEAR", "MONTH", "DAY", "HOUR"]:
    drift_hour = detect_drift(train_df[col], prediction_hourly_df[col])
    dicty_hour[col] = drift_hour

In [13]:
dicty_hour

{'YEAR': 'Drift exits',
 'MONTH': 'Drift exits',
 'DAY': 'Drift exits',
 'HOUR': 'No drift'}

In [1]:
from datetime import datetime as dt

In [3]:
now = dt.now()

In [4]:
now.strftime("%Y-%m-%d")

'2023-06-21'

In [5]:
now.hour

7